node_modules
**/node_modules
dist
**/dist
.next
**/.next
cdk.out
infra/cdk.out
docker-context
*.log
.git
.gitignore
.vscode
.DS_Store
.pnpm-store
pnpm-lock.yaml
pnpm-workspace.yaml
.env
.env.local
.env.*.local
coverage
.out
.tmp
.cache
.idea
