# Ignore local dependencies and build outputs
node_modules
apps/api/node_modules
apps/web/node_modules

dist
apps/api/dist
apps/web/.next
apps/web/out

# Ignore other unnecessary files
.git
.gitignore
Dockerfile
apps/api/docker/Dockerfile
apps/web/docker/Dockerfile
.env
*.log
